PP_ENV=local
APP_BUILD=0
APP_VERSION=0.0.0
APP_REVISION=ffffffffffffffffffffffffffffffffffffffff
JWT_SECRET=
JWT_TTL=3600

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0

POSTGRES_URL=db://localhost:5432/domain
REDIS_URL=redis://localhost:6379

XMPP_SERVICE_URL=xmpp://fabric.flux.local:5222
XMPP_DOMAIN=flux.im.local
XMPP_SERVER_USER=server
XMPP_SERVER_PASSWORD=test

MONGOOSEIM_DB_HOST=db
MONGOOSEIM_DB_PASSWORD=
MONGOOSEIM_ADMIN_PASSWORD=
MONGOOSEIM_HEAP_SIZE=
MONGOOSEIM_DB_HOST=localhost
MONGOOSEIM_DB_PASSWORD=

ERLANG_COOKIE=secret
