/* Zilla Slab Font Face Declarations */
@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/Zilla_Slab/ZillaSlab-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Base styles to ensure fonts are applied */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Zilla Slab', Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
